html {
    overflow-y: hidden;
}

body {
    overflow: hidden;
}

.myFont {
    font-family: 'RSU' !important; 
    font-size: 30px !important;
}

.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.v-tabs .v-card__text {
    height: 400px;
    overflow: auto;
    padding-top: 0px;
}

.subtopic p{
    width: 100%;
    text-align: left;
    height: 25px;
    font-size: 22px;
    /* margin-bottom: 2px; */
    cursor: pointer;
    font-family: 'RSU';
    font-weight: bold;
    text-decoration: underline;
}

.subtopic .v-input {
    /* margin-left: 20px !important; */
}

.v-tabs .v-slide-group__wrapper {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.testing-table {
    border: thin solid rgba(0, 0, 0, 0.12);
    /* border-top: none; */
}

.testing-table > td {
    border: 1px solid black;
}

.focusRow {
    pointer-events: pointer;
}

.focusRow-disabled {

}

.testing-table > .v-data-table__wrapper > table > tbody > tr:not(.focusRow) > td > input {
    background-color: rgb(235, 235, 228) !important;
    pointer-events: none;
}

.testing-table .v-input--selection-controls__input input[role=checkbox] {
    display: none;
}

.require {
    color:red !important;
    align-items: start !important;
    font-size: 22px !important;
}

.managePadding-frm > div.col-1, div.col-11{
    padding: 0px 0px 0px 10px !important;
}

.managePadding-frm > div.col-11 > .v-subheader{
    padding-left: 0px !important;
}